@import url('assets/fonts/font.css');
/* added onling import because github page 
doesn't use the offline one */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

:root {
  /* Primary */
  --clr--primary: hsl(259, 100%, 65%);
  --clr--secprimary: hsl(0, 90%, 67%);
  --clr--thrprimary: hsl(356, 44%, 59%);
  /* Neutral */
  --clr--white: hsl(0, 0%, 100%);
  --off--white: hsl(0, 0%, 94%);
  --light--grey: hsl(0, 0%, 86%);
  --smokey--grey: hsl(0, 1%, 44%);
  --off--black: hsl(0, 0%, 8%);
  --dark--grey: hsl(0, 0%, 25%);

  --input--width: 150px;


  font-family: 'Poppinsoffline', 'Poppins', sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  width: 43em;
  height: 33em;
  border-radius: 20px 20px 30% 20px;
  padding: 35px;
  box-shadow: .5px 1px 20px rgba(143, 143, 143, 0.1);
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

form div {
  display: flex;
  flex-direction: column;
}

/* DAY MONTH YEAR */

form div label {
  font-size: 12px;
  letter-spacing: 0.2em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--smokey--grey);
  margin-bottom: 8px;
}

form div input {
  height: 60px;
  width: var(--input--width);
  border-radius: 6px;
  border-style: solid;
  border-width: 0.5px;
  border-color: gainsboro;
  font-size: 1.7rem;
  font-weight: 800;
  cursor: pointer;
  caret-color: var(--clr--primary);
  padding: 20px;
}

form div input:hover,
form div input:focus {
  outline: none;
  border: 1px solid var(--clr--primary);
}

/* this class refer to the span that display error */

.requiredErr {
  color: var(--clr--thrprimary);
  font-style: italic;
  margin-top: 5px;
  font-size: 12px;
  height: fit-content;
  width: var(--input--width);
}

/* this the button container class and it component */

.butt--content {
  height: 10px;
  width: 100%;
}

form div button {
  position: relative;
  /* transform: translateY(-23.5px) translateX(540px); */
  top: -23.5px;
  left: 539px;
  width: 50px;
  height: 50px;
  padding: 40px;
  border: none;
  outline: none;
  background-color: var(--clr--primary);
  background-image: url(assets/images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 88;
  transition: transform 0.1s ease-in-out, background-color 0.2s ease-out;
}

form button:hover {
  background-color: var(--off--black);
}

form button:active {
  transform: translateY(2px) scale(0.98);
}

#linebreak {
  margin-block: 20px;
  transform: translateY(-85px);
  border: none;
  border-top: 2px solid rgba(27, 27, 27, 0.1);
  z-index: 1;
}

/* ******* */

/* this the display reselt class and it's component */

.dis-res {
  font-size: 5.3rem;
  font-weight: 800;
  margin-top: 40px;
  font-style: italic;
  line-height: 1.1em;
}

.dis-res span {
  display: flex;
  gap: 10px;
}

.dis-res span p:nth-child(1) {
  color: var(--clr--primary);
}

/* ******* */

.clr--red {
  color: var(--clr--secprimary);
}

.brd--clr--red {
  border-color: var(--clr--thrprimary);
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* added media queries for a resposive website */
@media (max-width:42em) {
  :root {
    --input--width: 8.75rem;
  }

  .container {
    width: 32em;
    height: 35em;
    padding: 25px;
  }

  .butt--content {
    margin-top: 20px;
  }

  form div button {
    left: 16em;
  }

}

/* trying to add color-scheme for better visual */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--off--black);
    background-color: var(--off--white);
  }

  body {
    background-color: var(--off--white);
  }

  .container {
    background-color: var(--clr--white);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--off--white);
    background-color: var(--dark--grey);
  }

  body {
    background-color: var(--dark--grey);
  }

  .container {
    background-color: var(--smokey--grey);
  }
}